@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sobre";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>

<div class="container">
    <header>
        <h1>Sobre Angélica</h1>
    </header>
    <main>
        <p>O site Angélica é o seu guia confiável para uma vida saudável e feliz. Nosso objetivo é fornecer informações valiosas e inspiração para que você possa alcançar o seu melhor estado de saúde e bem-estar.</p>
        <p>Nossa equipe de especialistas em saúde, beleza e estilo de vida está comprometida em trazer conteúdo relevante e atualizado para ajudar você a tomar decisões informadas sobre sua saúde e qualidade de vida.</p>
        <p>Explore nosso site para descobrir dicas, artigos informativos e recursos que o ajudarão a adotar hábitos saudáveis e a se sentir bem consigo mesmo.</p>
    </main>
    <footer>
        <p>&copy; 2024 Site Angélica. Todos os direitos reservados.</p>
    </footer>
</div>

</body>
</html>