@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao meu site</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>Professor tenha paciência com essa estudante que está correndo pra entregar essa prova, se arrumando, almoçando, tudo ao mesmo tempo pra entrar no estágio daqui a pouco.</div>
</div>
